In [1]:
x = 32
y = 6
print(x==y)

False

In [2]:
#
x = 98
y = 54
if x > y:
    print(x)

98

In [3]:
'''
if<expr>/bool:
    <statement>
<statement>
'''

x = 20
y = 5
if x < y:
    print("jangan pergi")
    print(y)
    
print("yuhuiiii")

yuhuiiii

In [4]:
Q = "Cofd"
r = 2

if Q in "Coffe is a good":
    print("Masuk rumah")
    
    if r < 4:
        print("Jalan sakura")
        print("nilai r lebih kecil dari empat")
    print("kembali masuk rumah")
    
    if r >10:
        print("Jalan mentari")
        print("nilai r lebih besar dari sepuluh")
    print("Jangan masuk rumah")
    
print("pergi ke jalan anggrek")

pergi ke jalan anggrek

In [5]:
x = 20
b = 5
if x>b:
    print("x lebih besar dari b")
    print (x)
else:
    print("x lebih kecil dari b")
    print(b)

x lebih besar dari b
20

In [6]:
Q = "Cof"
r = 2

if Q in "Coffe is a good":
    print("Masuk rumah")
    
    if r < 4:
        print("Jalan sakura")
        print("nilai r lebih kecil dari empat")
    else:
        print("else Jalan sakura")
        print("nilai r lebih kecil dari empat")
    print("kembali ke jalan sakura")
    
    if r >10:
        print("Jalan mentari")
        print("nilai r lebih besar dari sepuluh")
    else:
        print("else Jalan mentari")
        print("nilai r lebih besar dari sepuluh")
    print("kembali lagi ke jalan sakura")
    
print("pergi ke jalan anggrek")

Masuk rumah
Jalan sakura
nilai r lebih kecil dari empat
kembali ke jalan sakura
else Jalan mentari
nilai r lebih besar dari sepuluh
kembali lagi ke jalan sakura
pergi ke jalan anggrek

In [7]:
HargaTempe = 5000
HargaAyam = 25000
Uang = 15000

if Uang > HargaTempe:
    print("beli tempe")
elif Uang > HargaAyam:
    print("beli ayam")
else:
    print("uang kurang")

beli tempe

In [8]:
x = 100
b = 600
maximum = x if x > b else b
print(maximum)

600

In [9]:
raining = False
print(" Ke pasar" if not raining else "masak yang ada")

 Ke pasar

In [10]:
raining = True
print(" Ke pasar" if not raining else "masak yang ada")

masak yang ada

In [11]:
a = 100
b = 10
if a > b:
    pass
print(a)

100

In [12]:
'''
while <expr>/bool:
   <statement>
   <statement>
   <statement>
   <statement>
<statement>

'''

'\nwhile <expr>/bool:\n   <statement>\n   <statement>\n   <statement>\n   <statement>\n<statement>\n\n'

In [13]:
# 1 + 2 + 3 + ... + 100

n = 1
un = 10
s =0

while n <= un:
    print(n)
    s += n # s = s+n
    n += 1
    
#print(s)

1
2
3
4
5
6
7
8
9
10

In [14]:
print(n)

11

In [15]:
i = 0
while i < 10:
        print(i)
        if i == 5:
            break
        print("di bawah break")
        i += 1
        
print("di luar looping")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break
4
di bawah break
5
di luar looping

In [16]:
i = 0
while i < 10:
        i += 1
        if i == 5:
            continue
        print(i)
        print("di bawah continue")
        
print("di luar looping")

1
di bawah continue
2
di bawah continue
3
di bawah continue
4
di bawah continue
6
di bawah continue
7
di bawah continue
8
di bawah continue
9
di bawah continue
10
di bawah continue
di luar looping

In [17]:
i = 0
while i < 10:
    i += 1
    print(i)
else:
    print("loop selese")
print("di luar loop")

1
2
3
4
5
6
7
8
9
10
loop selese
di luar loop

In [18]:
i = 0
while i < 10:
        print(i)
        if i == 5:
            break
        print("di bawah break")
        i += 1
else:
     print("loop selese")
        
print("di luar looping")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break
4
di bawah break
5
di luar looping

In [19]:
a = ['p','q','r','s']
n = len(a)

i=0

while i<10:
    print(i)
    j = 0
    while j < n:
        print(a[j], end=" ")
        j += 1
    i+=1
    print()

0
p q r s
1
p q r s
2
p q r s
3
p q r s
4
p q r s
5
p q r s
6
p q r s
7
p q r s
8
p q r s
9
p q r s

In [21]:
n = 4
while n > 0: n-=1; print(n)

3
2
1
0

In [25]:
Q = ['ba','bi','bu']
i = 0

for s in Q:
    print('i' in s)

False
True
False

In [33]:
d = {'ba' : 1, 'bi' :2, 'bu':3}

for h in d:
    print(h)

ba
bi
bu

In [34]:
d.items()

dict_items([('ba', 1), ('bi', 2), ('bu', 3)])

In [35]:
for h, v in d.items():
    print(h, "-",v)

ba - 1
bi - 2
bu - 3

In [36]:
coor = [(1,1,1),(2,3,5),(4,5,6)]
for x,y,z in coor:
    print(x,y,z)

1 1 1
2 3 5
4 5 6

In [37]:
for i in range(9,3,-1):
    print(i)

9
8
7
6
5
4

In [41]:
# i=0
#while i<10:
#  i+=1
#  if i==6
#    Continue
#  print(i)
#  print("di bawah continue")

for i in range (0,11):
    if i == 6:
        continue
    print(i)
    print("di bawah break")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break
4
di bawah break
5
di bawah break
7
di bawah break
8
di bawah break
9
di bawah break
10
di bawah break

In [42]:
for i in range (0,11):
    if i == 6:
        break
    print(i)
    print("di bawah break")
else:
    print("done")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break
4
di bawah break
5
di bawah break